@font-face {
    font-family: 'Quicksand-medium' , sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local('Quicksand-medium'),
        url('../fonts/Quicksand-Medium.woff2') format('woff2')
        url('../fonts/Quicksand-Medium.woff') format('woff');
}